<style>
#header {
    background-color: black;
    color: white;
    text-align: center;
}

#doca {
    white-space: pre-wrap;
    width: 600px;
    float: left;
}

#docb {
    white-space: pre-wrap;
    width: 600px;
    float: right;
}
</style>

<div id="header"><h1><p>Rivet similarity score: {{ result }}</p></h1></div>
[<a href="{% url 'index' %}">back to index</a>]
<p>Higher scores = more similar text.</p>

<div id="doca">
    <h3>Document A:</h3>
    {{ comparison.document_a }}
</div>
<div id="docb">
    <h3>Document B:</h3>
    {{ comparison.document_b }}
</div>