{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'rivet/index.css' %}"/>

<div id="header">
    <h1>this is rivet.</h1>
</div>

{% if error_message %} <p><strong>{{ error_message }}</strong></p> {% endif %}

<form action="{% url 'submit' %}" method="post">
    {% csrf_token %}
        <div id="inputs">
            <label for="doca">Give me two documents:</label><br/>
            <textarea rows="30" cols="60" name="doca" id="doca"></textarea>
            <textarea rows="30" cols="60" name="docb" id="docb"></textarea>
        </div>
    <div id="submit">
        <input type="submit" value="Submit"/>
    </div>
</form>